.grid-spacing{
    padding:20px
}
.location-spacing{
    padding:10px;
}
.map-spacing{
    padding:10px
}
.camera-counting{
min-width: 37px;
align-content: center;
}
.css-fudqxv{
    padding-left: 130px !important;
}