
.location-spacing{
    padding:10px;
}
.map-spacing{
    padding-top:10px
}
.camera-counting{
min-width: 37px;
align-content: center;
}
.css-77q5ji-MuiCardContent-root:last-child{
    padding-bottom: 0px !important;
}