@font-face {
  font-family: "montserrat-medium";
  src: url(../public/assets/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "montserrat-regular";
  src: url(../public/assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 300;
}

body{
  background: linear-gradient(134.13deg, #EBEFFA 2.49%, #E8EBFD 30.02%, #F0ECF9 51.39%, #EFEEFB 70.14%, #EEF7FF 99.26%);
  font-family: "montserrat-regular"
}